* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: var(--montserrat);
}

:root {
  --branco: #fff;
  --azul-claro: #dfe3e5;
  --vermelho-forte: #b72e2e;
  --cinza-escuro: #4f4c4c;
  --cinza-claro: #f7f4f4;
  --cinza-medio: #d9d9d9;
  --fonte-link: #0084ff;
  --fonte-cinza: #666;
  --borda-cabecalho-mobile: #103d4a;
  --bg-rodape: #333;
  --bg-chamada-mobile: #00161c;
  --planos-cartao-start: #56ccf2;
  --planos-cartao-ultra: #b04cd9;
  --planos-cartao-mega: #e33b3b;
  --montserrat: "Montserrat", sans-serif;
}

#header {
  padding: 20px 20%;
  min-width: 100%;

  background: url("../public/imgs/bg-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 100%;
}

.logo h2 {
  font-size: 36px;

  padding: 0 16px 6px;
  color: #fff;
}

.logo h2:nth-child(1) {
  text-align: center;

  border-radius: 50%;

  background-color: #b72e2e;
  color: #333333;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.nav a {
  font-size: 20px;

  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  text-decoration: underline;
}

.intro-plans {
  color: #fff;

  text-align: center;

  padding-block: 30px 20px;
}

.intro-plans h2 {
  font-size: 52px;

  text-transform: uppercase;
}

.intro-plans p {
  font-size: 22px;

  padding: 25px 20%;
}

.intro-plans button {
  font-size: 18px;
  padding: 15px 90px;

  border: 1px solid var(--branco);

  border-radius: 6px;
  transition: transform 1s;

  background: none;
  color: var(--branco);

  cursor: pointer;
}

.intro-plans button:hover {
  background-color: var(--bg-chamada-mobile);
  color: var(--branco);
  transform: scale(1.1);
}

#highlights-list {
  padding-block: 30px;
  text-align: center;

  background-color: #dfe3e4;
}

#highlights-list h2 {
  font-size: 24px;
  padding-bottom: 20px;

  text-transform: uppercase;

  color: #514d4e;
}

#highlights-list button {
  font-size: 18px;
  padding: 15px 90px;

  border: 1px solid #7a1844;
  border-radius: 6px;

  background-color: #dfe3e4;
  color: #7a1844;

  cursor: pointer;

  transition: transform 1s;
}

#highlights-list button:hover {
  font-weight: bold;
  transform: scale(0.9);

  border: 1px solid var(--fonte-link);
  background-color: var(--fonte-link);
  color: var(--branco);
}

.highlight {
  font-weight: bold;
  font-size: 18px;

  padding-bottom: 20px;
}

#advantages {
  padding: 80px 20%;

  background-color: var(--cinza-claro);
}

.advantages-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.advantages-list li {
  width: 250px;
  height: 100px;

  padding-bottom: 140px;
}

.advantage {
  font-size: 16px;
}

.adv-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

.adv-header p {
  font-weight: bold;
  text-transform: uppercase;

  color: #4e4b4d;
}

.about {
  display: flex;
  justify-items: center;
  gap: 50px;
  align-items: self-start;
  padding: 40px 15%;
}

.about-img {
  text-align: center;
  box-shadow: 0 4px 10px 5px #000;
}

.about-text h3,
.plans h3,
.contact h3,
.institucional h3 {
  font-size: 24px;

  text-transform: uppercase;
  text-align: center;

  padding-bottom: 15px;
  color: var(--bg-rodape);
}

.about-text p {
  font-size: 18px;
  font-weight: 400;

  text-align: center;
}

.about-text p:nth-child(3) {
  text-align: center;
  padding-block: 20px;
}
.about-text span {
  font-weight: bold;
  color: var(--bg-rodape);
}

.about-text hr {
  margin-block: 30px;
}

.plataforms {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding-bottom: 20px;
}

.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--cinza-claro);
  padding-bottom: 60px;
}

.plans h3 {
  padding-block: 30px 20px;

  color: var(--fonte-cinza);
}

.plans-list {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.plan-info {
  text-align: center;

  background-color: var(--branco);
  width: 350px;

  box-shadow: 0 2px 10px 2px #00000010;
  border-radius: 5.5px;
}

.plan-info h4 {
  font-size: 24px;
  padding-top: 10px;

  color: var(--planos-cartao-start);
}

hr {
  margin-block: 10px;
  color: var(--cinza-medio);
}

.benefits {
  padding-inline: 15%;
}

.benefits h4 {
  font-size: 48px;
  padding-block: 15px;
}

.benefits p {
  text-align: left;
  padding-bottom: 10px;

  color: var(--fonte-cinza);
}

.benefits button {
  font-size: 18px;
  font-weight: bold;
  width: 100%;

  padding: 10px;
  margin-bottom: 20px;

  background: none;
  border-radius: 5.5px;
}

.benefits button:hover {
  cursor: pointer;
  background-color: var();
  transform: scale(1.05);
}

.contact {
  text-align: center;

  padding: 30px 15%;
}

.contact button {
  font-size: 18px;

  padding: 15px 90px;
  margin-top: 15px;

  border: 1px solid var(--cinza-escuro);

  border-radius: 6px;
  transition: transform 1s;

  background: none;
  color: var(--cinza-escuro);

  cursor: pointer;
}

.contact button:hover {
  font-weight: bold;

  background-color: var(--bg-chamada-mobile);
  color: var(--branco);
  transform: scale(1.1);
}

.institucional {
  padding-inline: 20%;
  padding-block: 60px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info p {
  font-size: 18px;

  color: var(--fonte-cinza);
}

.address {
  font-size: 22px;
  color: var(--fonte-cinza);
}

.info-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;

  padding-top: 20px;
}

video {
  width: 90%;
}

.footer {
  display: flex;
  justify-content: space-between;

  padding: 60px 15%;

  background-color: var(--bg-rodape);
}

.socials li {
  padding-right: 15px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  #header,
  .highlight-list,
  .contact,
  .plans,
  .institucional {
    padding-inline: 5%;
  }

  .nav {
    text-align: center;
    flex-direction: column;
  }

  .nav-list {
    justify-content: center;
    flex-wrap: wrap;
  }

  .about {
    flex-direction: column;
    text-align: center;
    justify-items: center;
    align-items: center;
  }

  .plan-info {
    width: 300px;
  }

  .footer {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .footer .socials {
    padding-top: 30px;
  }
}

@media (max-width: 688px) {
  .plans-list {
    flex-direction: column;
  }

  .plan-info {
    width: 350px;
  }

  .intro-plans p {
    padding-inline: 5%;
  }

  .info-container {
    grid-template-columns: 80%;
    grid-gap: 30px;
  }

  .address {
    padding-block: 20px;
  }

  video {
    width: 100%;
  }

  .highlight img {
    width: 90%;
  }
}

@media (max-width: 393px) {
  #header,
  .highlight-list,
  .contact,
  .plans,
  .institucional {
    padding-inline: 0;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
