* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-block: 20px;

  min-width: 100%;
  background-color: #00161c;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
}

.logo h2 {
  font-size: 36px;

  padding: 0 16px 6px;
  color: #fff;
}

.logo h2:nth-child(1) {
  text-align: center;

  border-radius: 50%;

  background-color: #b72e2e;
  color: #333333;
}

.nav {
  padding-top: 10px;
}

ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.nav a {
  font-size: 20px;

  text-decoration: none;
  color: #fff;
}

.plans {
  background-color: #00161c;
  color: #fff;

  text-align: center;

  padding-block: 40px;
}

.plans h2 {
  font-size: 32px;

  text-transform: uppercase;
}

.plans p {
  font-size: 20px;

  padding: 25px 20%;
}

.plans button {
  font-size: 18px;
  padding: 10px 90px;

  border: 1px solid #fff;
  border-radius: 6px;

  background-color: #00161c;
  color: #fff;
}

#highlights-list {
  padding-block: 30px;
  text-align: center;

  background-color: #dfe3e4;
}

#highlights-list h2 {
  font-size: 24px;
  padding-bottom: 20px;

  text-transform: uppercase;

  color: #514d4e;
}

#highlights-list button {
  font-size: 18px;
  padding: 15px 90px;

  border: 1px solid #7a1844;
  border-radius: 6px;

  background-color: #dfe3e4;
  color: #7a1844;
}

.highlight {
  font-weight: bold;
  font-size: 18px;

  padding-bottom: 20px;
}

#advantages-list {
  padding: 80px 20%;
}

.first-row {
  display: flex;
  gap: 30px;
  padding-bottom: 40px;
}

.second-row {
  padding-inline: 30%;
}

.adv-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

.adv-header p {
  font-weight: bold;
  text-transform: uppercase;

  color: #4e4b4d;
}
